Repository 0xBigBoss/typescript-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      run: npx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: npx oxfmt --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

pre-push:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      run: npx oxlint {push_files}
    format:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: npx oxfmt --check {push_files}

Fix package versions and tsgo compatibility
  package.json
  tsconfig.json
Due: format

Add example packages and fix configs
  .gitignore
  .oxfmtrc.jsonc
  apps/.gitkeep
  apps/example/package.json
  apps/example/src/index.ts
  bun.lock
  lefthook.yml
  package.json
  packages/.gitkeep
  packages/core/package.json
  packages/core/src/index.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  tsconfig.json
Due: lint, format, typecheck

Add setup script for package scope replacement
  package.json
  scripts/setup.ts
Due: lint, format, typecheck

Add zshy build tool for packages
  .gitignore
  .oxfmtignore
  .oxlintrc.json
  bun.lock
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  scripts/setup.ts
Due: lint, format, typecheck

Update to latest stable versions
  .node-version
  bun.lock
  package.json
Due: format

Add CLAUDE.local.md to gitignore for template dev notes
  .gitignore
Due: none

Add all checks to lefthook pre-commit/pre-push
  lefthook.yml
Due: none

Add nixpkgs-unfree input option for overlays requiring unfree packages
  flake.lock
  flake.nix
Due: none

chore: upgrade
  bun.lock
  flake.lock
  package.json
Due: format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add weekly dependency update workflow
  .github/workflows/update-deps.yml
Due: none

fix: format update-deps workflow with single quotes
  .github/workflows/update-deps.yml
Due: none

refactor(tsconfig): adopt solution-style project references
  apps/example/tsconfig.json
  package.json
  packages/core/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: format

chore: update nixpkgs to nixos-25.11
  flake.lock
  flake.nix
Due: none

chore: TypeScript 7 and latest stable dependencies
  flake.lock
  nub.lock
  package.json
Due: format

build: replace zshy with tsdown
  .github/workflows/ci.yml
  .gitignore
  nub.lock
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsdown.config.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsdown.config.ts
  tsconfig.base.json
Due: lint, format, typecheck

docs: add README and LICENSE
  .prettierignore
  LICENSE
  README.md
  scripts/setup.ts
Due: lint, format, typecheck
